version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-demo
    restart: always
    environment:
      MYSQL_DATABASE: demo_db
      MYSQL_USER: demo_user
      MYSQL_PASSWORD: mysql_pass
      MYSQL_ROOT_PASSWORD: root_pass
    ports:
      - "3306:3306"

  app:
    build: .
    depends_on:
      - mysql
    working_dir: /app
    volumes:
      - ./target:/app
    command: ["java", "-jar", "app.jar"]
    ports:
      - "8080:8080"
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_DATABASE: demo_db
      MYSQL_USER: demo_user
      MYSQL_PASSWORD: mysql_pass
